
<mat-toolbar class="barcolor">
 
        <div class="spacer"></div>
        <div class="nav-division">
            <a class="text-color"mat-button routerLink="home">Home</a>
        <!-- <a *ngIf="loggedIn" mat-button routerLink="user">User</a> -->
        <a class="text-color"mat-button routerLink="adminlogin">Admin</a>
        <!-- <a  mat-raised-button routerLink="/login">Login</a> -->
        <a  class="text-color" mat-button routerLink="login">
        <mat-icon>supervised_user_circle</mat-icon>User</a>
     <!-- <a *ngIf="loggedIn"(click)="logoutUser()" mat-raised-button class="text-color">Logout</a> -->
        
        </div>
   
</mat-toolbar>
   

