<mat-card class="dashboard-bg">
    <mat-action-list>
            <div class="fw-bold" mat-subheader style="font-size: 26px;">Dashboard</div>

          
            <button class="fw-bold" mat-list-item routerLink="/home">
                
                <mat-icon mat-list-icon style="position: relative;margin-left:5px;">home</mat-icon>Home
            </button>
            <button class="fw-bold" mat-list-item routerLink="/admin">
                <mat-icon mat-list-icon style="position: relative; ">Admin</mat-icon>Admin
            </button>
            
            <button class="fw-bold" mat-list-item routerLink="/user">
                <mat-icon mat-list-icon style="position: relative; ">User</mat-icon>User
            </button>
            
            
           
            <button class="fw-bold" mat-list-item routerLink="/home">
                <mat-icon mat-list-icon style="position: relative;margin-left:5px;">logout</mat-icon>Logout
            </button>
        
    </mat-action-list>
</mat-card>
